# 1. Секреты
# Игнорируем creds.db, где бы он ни лежал
**/creds.db
*.db

# 2. Папки с данными
# Игнорируем data/ и my_project/data/
/data/
/my_project/data/

# 3. Данные в других местах (из вашего tree)
# Игнорируем .xls, .parquet, .csv ВЕЗДЕ
*.xls
*.csv
*.parquet

# 4. Файлы Python
__pycache__/
*.pyc

# 5. Окружение
.venv/
/env/
/venv/

# 6. Редакторы и Jupyter
/.vscode/
.ipynb_checkpoints/

# 7. Системные файлы
.DS_Store
Thumbs.db
