# Папки с данными
# Игнорируем все, что лежит в data/
my_project/data/

# Файлы Python
# Игнорируем папки с кешем, которые Python создает при запуске
__pycache__/
*.pyc

# Файлы окружения Poetry/Conda
# Poetry часто создает локальную виртуальную среду .venv
.venv/
# Файлы окружения Conda (на всякий случай)
/env/
/venv/

# Файлы редактора кода (VS Code)
# Хранит настройки вашей рабочей области, не нужны в репозитории
.vscode/

# Файлы Jupyter Notebook
# Промежуточные сохранения (чекпоинты), которые создает Jupyter
.ipynb_checkpoints/

# Системные файлы (для Mac и Windows)
.DS_Store
Thumbs.db
