# Скрыть файл с паролями SQLite
creds.db

# Скрыть файл с паролями VS Code
.vscode/launch.json
.vscode/

# Скрыть файлы данных
*.xls
*.csv

# Скрыть виртуальное окружение и кэш
venv/
.venv/
__pycache__/
